/* Estilo para el título */
#titulo {
    font-size: 1.5rem; /* Tamaño de fuente más pequeño */
    font-weight: bold; /* Texto en negrita */
    color: #323963; /* Color del texto */
    text-align: left; /* Alinear el texto a la izquierda */
    margin: 0.625rem 1.5625rem; /* En lugar de 10px 25px */ /* Espacio superior e inferior */
    display: flex;
    align-items: center;
}

#titulo:hover {
    color: #d26b16; /* Cambiar a color del icono al pasar el mouse */
    cursor: pointer; /* Cambiar el cursor para indicar que es interactivo */
}

#titulo i {
    margin-right: 0.3125rem; /* Espacio entre el icono y el texto */
    font-size: 1.125rem; /* Tamaño del icono más pequeño */
    color: #d26b16; /* Color del icono */
}

/* Estilos para el menú lateral en v1cliente.css */

.options__menu {
    padding: 10px 30px;
    position: absolute;
    top: 60px;
}

.options__menu a {
    text-decoration: none; /* Quitar subrayado */
 /* font-size: 16px; /* Ajustar tamaño de fuente */
     margin-bottom: auto; /* Ajustar según necesidad */
    color: #fdf9f9b2;
    cursor: default;
    display: block;
    position: relative;
    transition: color 300ms;
}

.options__menu a:hover {
    color: rgb(194, 137, 15);
}
.options__menu a h4 {
    font-family: 'Roboto', sans-serif; /* Aplica la nueva fuente */
    font-weight: 500; /* Ajusta el peso de la fuente si es necesario */
    cursor: pointer;
}

.options__menu .option {
    padding: 20px 0px;
    display: flex;
    align-items: center;
    position: relative;
}

.options__menu .option i {
    width: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.options__menu .option h4 {
    font-family: 'Montserrat', sans-serif; /* Aplica la nueva fuente */
    font-weight: 700; /* Ajusta el peso de la fuente si es necesario */
    cursor: pointer;
}


.options__menu a h4 {
    margin: 3; /* Eliminar margen para un alineamiento más limpio */
    font-size: 16px; /* Ajustar según necesidad */
}

.options__menu .option {
    display: flex; /* Usar flexbox */
    align-items: center; /* Alinear elementos verticalmente */
    padding: 20px 0px;
    display: flex;
    align-items: center;
    position: relative;
}

.options__menu .option i {
    width: 20px;
    margin-right: 20px;
    cursor: pointer;
    margin-right: 10px; /* Espacio entre ícono y texto */
    font-size: 20px; /* Tamaño del ícono */
}

a.selected {
    color: #d61b1b;
}

.selected:before {
    content: '';
    width: 3px;
    height: 80%;
    background: #FAEBD7;
    position: absolute;
    top: 10%;
    left: -30px;
}

.styled-text {
    font-weight: bold;
    font-size: smaller; /* Puedes ajustar el tamaño a tu preferencia */
    color: white;
}



#open-veh-form {
    background-color: #eee8e8; /* Color de fondo gris */
    color: #160b0b; /* Color del texto */
    border: 1px solid transparent; /* Borde transparente por defecto */
    padding: 5px 10px; /* Tamaño pequeño */
    font-size: 12px; /* Tamaño de fuente pequeño */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor de puntero */
}

/* Estilos para el contenedor del formulario */
#add-veh-form-container {
    background-color: #68687b;
    max-width: 90%; /* Ancho máximo ajustado para pantallas pequeñas */
    margin: 20px auto; /* Margen superior e inferior */
    padding: 2rem;
    border-radius: 5px;
    overflow: hidden; /* Evita desbordamiento en pantallas pequeñas */
    color: #f2f2f2;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */
    transition: background-color 300ms, box-shadow 300ms; /* Transiciones suaves */
    font-family: 'Arial', sans-serif; /* Elegir una fuente legible */
    font-size: 1rem; /* Tamaño de fuente más accesible */
}

#add-veh-form-container:hover {
    background-color: #040c44; /* Cambiar el color de fondo al pasar el mouse */
}

#add-veh-form {
    max-width: 75%;
}

#mensajeExito {
    display: none; /* Ocultar el mensaje de éxito inicialmente */
    margin: 20px auto; /* Margen superior e inferior 20px, centrado horizontalmente */
    padding: 10px; /* Padding interno */
    background-color: #4CAF50; /* Color de fondo verde */
    color: white; /* Color del texto blanco */
    text-align: center; /* Alinear texto al centro */
    border-radius: 5px; /* Bordes redondeados */
    width: 50%; /* Ancho del contenedor al 50% del ancho disponible */
}

#mensajeExito.show {
    display: block; /* Mostrar el mensaje de éxito cuando tenga la clase .show */
}

.d-none {
    display: none;
}

/* Estilos para los filtros */
.filter-container {
    margin-top: 50px; /* Espacio superior */
    padding: 10px; /* Espaciado interno */
    background-color: #78787e; /* Color de fondo gris */
    border-radius: 10px; /* Bordes redondeados */
    width: 100%; /* Ancho del contenedor */
    margin: auto; /* Centra el contenedor */
    display: flex; /* Usar flexbox para disposición */
    flex-direction: column; /* Alinea los elementos en columna */
    align-items: center; /* Centra los elementos horizontalmente */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra sutil */
}

.filter-container .btn-container {
    display: flex; /* Alinea los botones en línea */
    gap: 5px; /* Espacio entre los botones */
    justify-content: center; /* Centra los botones horizontalmente */
    margin-top: 8px; /* Espacio superior para los botones */
}

.filter-container .btn-container button {
    padding: 10px 15px; /* Espaciado interno de los botones */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    background-color: #5a5a5e; /* Color de fondo de los botones */
    color: #ffffff; /* Color del texto de los botones */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    transition: background-color 300ms, transform 200ms; /* Transiciones suaves */
}

.filter-container .btn-container button:hover {
    background-color: #4a4a4e; /* Color de fondo al pasar el mouse */
    transform: scale(1.05); /* Efecto de aumento al pasar el mouse */
}

.filter-label {
    font-weight: bold; /* Negrita para las etiquetas */
    font-size: 14px; /* Tamaño de fuente */
    margin-top: 10px; /* Espacio superior */
    color: #ffffff; /* Color del texto */
    margin-bottom: 5px; /* Espacio inferior entre etiquetas */
}

@media (max-width: 600px) {
    .filter-container {
        width: 95%; /* Ancho máximo en pantallas pequeñas */
        padding: 10px; /* Ajustar el padding */
    }
}

.btn {
    display: inline-block; /* Permite que el botón se comporte como un bloque en línea */
    padding: 5px 10px; /* Espaciado interno */
    font-size: 14px; /* Tamaño de fuente */
    font-weight: bold; /* Negrita para el texto */
    text-align: center; /* Centra el texto */
    text-decoration: none; /* Sin subrayado */
    color: #fff; /* Color del texto */
    background-color: #e01818; /* Color de fondo para ambos botones */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Transición suave */
    white-space: nowrap; /* Evita que el texto se rompa en varias líneas */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra sutil */
}

.btn:hover {
    background-color: #cdd52e; /* Color de fondo al pasar el mouse */
    transform: scale(1.05); /* Aumenta el tamaño al pasar el mouse */
}

.btn:active {
    background-color: #a10f0f; /* Color más oscuro al presionar */
}

/* Estilo específico para los botones en el filtro */
#clear-filters, #open-veh-form {
    background-color: #bbb9b9; /* Mismo color de fondo para ambos botones */
    color: #fff; /* Color del texto blanco */
    padding: 5px 10px; /* Espaciado interno */
    font-size: 14px; /* Tamaño de fuente */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    transition: background-color 0.3s ease; /* Transición suave */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra sutil */
}

#clear-filters:hover, #open-veh-form:hover {
    background-color: #a8a6a6; /* Color más oscuro al pasar el mouse */
}

/* Estilos para la tabla de vehículos */
#vehiculos-table {
    width: 90%; /* Ocupa el ancho completo del contenedor */
    margin: auto; /* Centra la tabla */
    font-size: 12px; /* Aumentado: Tamaño de fuente */
    border-spacing: 0 5px; /* Espaciado entre celdas */
    margin-top: 20px; /* Margen superior */
    border: 1px solid #ad906b; /* Borde de la tabla */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

#vehiculos-table th,
#vehiculos-table td {
    padding: 10px; /* Aumentado: Espaciado interno en celdas */
    border: 2px solid #c6c3bf; /* Borde de celdas */
}

#vehiculos-table th {
    background-color: #032b45; /* Color de fondo de los encabezados */
    color: #ffffff; /* Color del texto de los encabezados */
}

#vehiculos-table tbody tr:nth-child(odd) {
    background-color: #f2f2f2; /* Color de fondo para filas impares */
}
#vehiculos-table tbody tr:hover {
    background-color: #e0e0e0; /* Color de fondo al pasar el mouse sobre la fila */
}

#vehiculos-table td button.editar-vehiculo {
    background-color: #032b45; /* Color de fondo del botón */
    color: #ffffff; /* Color del texto del botón */
    border: none; /* Sin borde */
    padding: 5px 10px; /* Espaciado interno del botón */
    border-radius: 5px; /* Bordes redondeados del botón */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
}

#vehiculos-table td button.editar-vehiculo:hover {
    background-color: #2980b9; /* Color de fondo del botón al pasar el mouse */
}


/* Contenedor de la tabla */
.table-responsive {
    overflow-x: auto; /* Permite desplazamiento horizontal */
}


/* Media Queries para responsividad */
@media screen and (max-width: 760px) {
    .header-container {
        flex-direction: column;
        align-items: flex-start;
    }

    #main-title {
        font-size: 1.2em;
        margin-bottom: 10px;
    }

    #open-client-form {
        margin-left: 0;
    }

    .filter-container {
        padding: 5px; /* Reduce el padding en pantallas más pequeñas */
    }

    .row {
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
        align-items: flex-start; /* Alinea a la izquierda */
    }

    .col-md-3 {
        width: 100%; /* Asegúrate de que las columnas ocupen todo el ancho */
        margin-bottom: 10px; /* Espacio entre columnas */
    }

    .filter-label {
        margin-bottom: 5px;
    }

    .form-label {
        font-size: 14px;
    }

    #vehiculos-table {
        font-size: 12px; /* Ajuste de tamaño de fuente */
        width: 100%; /* Asegúrate de que la tabla ocupe todo el ancho disponible */
    }

    #vehiculos-table th,
    #vehiculos-table td {
        padding: 5px; /* Ajuste de espaciado */
    }
}


@media (max-width: 767px) {
    .filter-container .col-md-3 {
        margin-bottom: 10px;
    }
    
    .filter-container .text-md-end {
        text-align: start;
    }
}

/* Media Query específica para pantallas de 434x480 */
@media screen and (max-width: 480px) {
    #vehiculos-table {
        font-size: 10px; /* Ajuste de tamaño de fuente más pequeño */
    }

    #vehiculos-table th,
    #vehiculos-table td {
        padding: 3px; /* Espaciado reducido */
    }

    #vehiculos-table th {
        font-size: 11px; /* Ajustar tamaño de fuente de encabezados */
    }

    .filter-container {
        padding: 5px; /* Mantén el padding reducido */
    }

    .filter-label {
        font-size: 14px; /* Ajusta el tamaño de fuente de las etiquetas */
    }

    .filter-input, .form-select {
        font-size: 12px; /* Ajusta el tamaño de fuente de los inputs y selects */
    }
}